.navbar-nav > li > a {
  color: black !important;
  font-size: 200px !important;
}
#menu-container {
  display: flex !important;
  align-items: flex-end !important;
  justify-content: center !important;
}